.scale-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#scale-view-inspector header {
    display: flex;
    justify-content: center;
    text-align: center;
}

#scale-view-inspector header h3 {
    margin-top: var(--pico-typography-spacing-vertical);
}

#play-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
