nav img {
    height: 10rem;
}

.brand-text {
    display: none;
}
@media (min-width: 768px) {
    .brand-text {
        display: inline;
    }
}

.subtitle {
    display: flex;
    justify-content: space-between;
}

dialog p {
    text-align: justify;
    text-justify: inter-word;
}