nav img {
    height: 6rem;
}

.brand-text {
    display: none;
    padding: 0 1rem;
}

.brand-text h1 {
    margin: 0;
}

nav {
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .brand-text {
        display: inline;
    }
}

.subtitle {
    display: flex;
    justify-content: space-between;
}

dialog p {
    text-align: justify;
    text-justify: inter-word;
}